/* GLOBAL */
* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
}

body {
    padding: 10px 100px 50px;
}

/* TEXT */
h1, h2, h4, h5, p, a {
    font-family: 'Quicksand', sans-serif;
    font-variant: small-caps;
}

h1{
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

p, a, label, ::placeholder {
  font-size: 1.25em;
  margin: 3px;
  padding: 3px;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

/* BUTTONS */
button {
  font-size: 1.05em;
  border-radius: 5px;
  font-variant: small-caps;
  padding: 10px 8px;
  margin: 5px 20px;
  border: 1px solid #070d59;
  color: #070d59;
}

button:focus, button:active, button:hover {
  color: #5893d4;
  border: 1px solid #5893d4;
  outline: none;
}

#get_in_touch, #resume_btn {
    width: 150px;
    border-radius: 2px;
    margin-bottom: 20px;
}

/* DISPLAY */
.none {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.sq_bracket {
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
}

/* IMAGES */
i {
    margin: 20px 10px;
    color: #000;
    padding: 0px 5px;
}

/* NAV */
nav {
    padding-bottom: 20px;
}

/* HEADER */
header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#hero {
    border: 1px solid #000;
    width: 100%;
    padding: 50px;
    justify-content: center;
}

.overlay {

    border: 1px solid #000;
    width: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    
}

#name {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.8em;
}

.brief_about {
    line-height: 0.7;
    text-align: center;
    margin: 10px 0px 15px;
}

/* MAIN */

/* ABOUT */
#about_section {
    justify-content: space-between;
    align-items: center;
}

#about_headline {
    color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#about_content {
    justify-content: center;
    align-items: center;
    flex: 1;
}

#personal_brand {
    text-indent: 20px;
    text-align: center;
    font-variant: small-caps;
    
}

#resume {

}


/* FOOTER */



/* MEDIA QUERIES */
/* DESKTOP */

/* HOVER */
a:hover {
    font-size: 1.20em;
}

i:hover {
    color: #5893d4;
}
