/* GLOBAL */
* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.2;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

/* TEXT */
h1, h2, h3, h4, h5, p, a {
    font-family: 'Quicksand', sans-serif;
    font-variant: small-caps;
    color: #070d59;
}

h1{
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

p, a, label, ::placeholder {
  font-size: 1.25em;
  margin: 3px;
  padding: 3px;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

/* BUTTONS */
button, #get_in_touch, .project_link {
  font-size: 1.05em;
  border-radius: 5px;
  font-variant: small-caps;
  padding: 10px 8px;
  margin: 5px 20px;
  border: 1px solid #070d59;
  color: #070d59;
  background-color: transparent;
  box-shadow: 0px 2px 3px #000;
}

button:focus, button:active, button:hover, #get_in_touch:hover, .project_link:hover {
  background-color:  rgba(88, 147, 212, 0.5);
  color: #fff;
  border: 1px solid #5893d4;
  outline: none;
}

#get_in_touch, #view_resume_btn {
    width: 150px;
    border-radius: 2px;
}

#get_in_touch {
    justify-content: center;
}

#resume_btn {
    margin-top: 20px;
}

#download_resume_btn {
    justify-content: center;
    align-items: baseline;
    width: 220px;
    border-radius: 2px;
    border: 1px solid #070d59;
}

#view_resume_btn {
    padding: 0px 10px;
}

.project_link {
    padding: 10px 15px;
}

/* DISPLAY */
.none {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.sq_bracket {
    font-size: 1.3em;
    color: #070d59;
    padding: 0px 5px;
}

/* IMAGES */
i {
    font-size: 1.05em;
    margin: 20px 10px;
    color: #000;
    padding: 0px 5px;
}

.fa-download {
    font-size: 1em;
    padding-right: 0;
    margin: 10px 2px 10px 5px
}

/* NAV */
nav {
    padding-bottom: 10px;

}

/* HEADER */
header {
    align-items: center;
    min-width: 100%;
}

#hero {
    background: url('../imgs/hero.jpg') no-repeat center center;
    background-size: cover;
    min-width: 80%;
    min-height: 70%;
    max-height: 60%;
    padding: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
}

.overlay {
    min-width: 400px;
    max-width: 40%;
    padding: 20px 0px 40px 0px;
    background-color: rgba(255, 255, 255, 0.85);
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
}

#name {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.8em;
}

.brief_about {
    line-height: 0.8;
    text-align: center;
    margin: 10px 0px 15px;
}

/* MAIN */
main {
    min-width: 100%;
}
section {
    justify-content: center;
    align-items: center;
    border: 1px red solid;
    padding: 20px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
    margin: 20px 0px;
    min-width: 80%;
}
/* ABOUT */
#about {
    justify-content: space-between;
    align-items: center;
}

#about_headline, #projects_headline {
    color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

#about_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 400px;
    padding: 0px 30px;
}

#personal_brand, .personal_content {
    text-align: center;
}

#skills_stack {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#stack { 
    padding: 0 10px;
    margin: 5px 0px;
}

#resume {
    border: 1px solid purple;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.project {
    justify-content: center;
    align-items: center;
}

.project_content {
    margin: 0;
    padding: 0;
}
 
.screenshot {
    width: 400px;
    height: 200px;
    object-fit: fill;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-bottom: 5px;
}

#centralline {
    background-color: #000;
}

.project_link_btns {
    margin: 10px auto;
    
}

/* FOOTER */
#contact {
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */
/* DESKTOP */
/* 


body {
    padding: 0px 100px 50px;
    overflow-x: visible;
}
*/

/* HOVER */
a:hover {
    font-size: 1.03em;
}

i:hover {
    color: #5893d4;
}

/* 

#personal_brand {
    text-indent: 20px;
    text-align: left;
}    

#view_resume_btn {
    display:block;
}

#resume_pdf {
    display: block;
    border: 1px solid purple;
    margin-bottom: 10px;
} */

@keyframes tilt {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-2deg);}
  75% {transform: rotate(2deg);}
  100% {transform: rotate(0deg);}
}

.tilt:hover {
  animation:tilt 2s ease alternate infinite;
}

